<div class="accordion-single js-acc-single">
    <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">Master File - AIR</h2>
        <div class="accordion-single-content">
          <app-air-masterfile></app-air-masterfile>
        </div>
      </div>
    <div class="accordion-single-item js-acc-item">
      <h2 class="accordion-single-title js-acc-single-trigger">AIR_L3</h2>
      <div class="accordion-single-content">
        <app-air-l3file></app-air-l3file>
      </div>
    </div>
    <div class="accordion-single-item js-acc-item">
      <h2 class="accordion-single-title js-acc-single-trigger">AIR_L2</h2>
      <div class="accordion-single-content">
        <app-air-l2file></app-air-l2file>
      </div>
    </div>
    <div class="accordion-single-item js-acc-item">
      <h2 class="accordion-single-title js-acc-single-trigger">AIR_L4</h2>
      <div class="accordion-single-content">
        <app-air-l4file></app-air-l4file>
      </div>
    </div>
    <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">AIR_L2Cha</h2>
        <div class="accordion-single-content">
          <app-air-l2chafile></app-air-l2chafile>
        </div>
      </div>
      <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">AIR_L4Cha</h2>
        <div class="accordion-single-content">
          <app-air-l4chafile></app-air-l4chafile>
        </div>
      </div>
      <!-- <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">AIR_L1</h2>
        <div class="accordion-single-content">
          <app-air-l1file></app-air-l1file>
        </div>
      </div>
      <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">AIR_L5</h2>
        <div class="accordion-single-content">
          <app-air-l5file></app-air-l5file>
        </div>
      </div> -->
</div>