.table {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.table thead {
  /* position: sticky; */
  top: 0;
}

.table thead th {
  border: 1px solid #e4eff8;
  background: white;
  cursor: pointer;
}

.table thead th.header-label {
  cursor: pointer;
  background: linear-gradient(0deg, #e4eff8, #5f0047 5%, #000000 150%);
  color: #ffd900;
  border: 1px solid white;
  padding: 10px 0px;
}

.table th,
.table td {
  padding: 0.2rem 0.5rem;
  text-align: center;
}

.table td {
  border: 1px solid #e4eff8;
}

.table .tr-inputs th {
  position: relative;
  padding: 0;
  padding-bottom: 1.2rem;
  margin: 0;
}

.table .tr-inputs div {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.table input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  text-transform: uppercase;
}

input:focus-visible {
  outline: none;
  text-transform: uppercase;
}

td.input_field {
  background: white;
  text-align: left !important;
}

select {
  width: 100%;
  border: none;
  text-transform: none;
}

select:focus-visible {
  outline: none;
  text-transform: none;
}

.input_label {
  font-weight: bold;
  color: black;
}

th.header-label {
  cursor: pointer;
  background: linear-gradient(0deg, #e4eff8, #5f0047 5%, #000000 150%);
  color: #ffd900;
  border: 1px solid white;
  padding: 6px 0px !important;
}

.empty_cell {
  border: none !important;
  background: #c6ced7 !important;
}

.asterisk {
  color: red;
  font-size: 15px;
  margin-left: 2px;
}

.error {
  border: 2px solid red !important;
}
