<div class="accordion-single js-acc-single">
    <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">Master File - LCL</h2>
        <div class="accordion-single-content">
          <app-lcl-masterfile></app-lcl-masterfile>
        </div>
      </div>
    <div class="accordion-single-item js-acc-item">
      <h2 class="accordion-single-title js-acc-single-trigger">LCL_L3</h2>
      <div class="accordion-single-content">
        <app-lcl-l3file></app-lcl-l3file>
      </div>
    </div>
    <div class="accordion-single-item js-acc-item">
      <h2 class="accordion-single-title js-acc-single-trigger">LCL_L2</h2>
      <div class="accordion-single-content">
        <app-lcl-l2file></app-lcl-l2file>
      </div>
    </div>
    <div class="accordion-single-item js-acc-item">
      <h2 class="accordion-single-title js-acc-single-trigger">LCL_L4</h2>
      <div class="accordion-single-content">
        <app-lcl-l4file></app-lcl-l4file>
      </div>
    </div>
    <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">LCL_L2Cha</h2>
        <div class="accordion-single-content">
          <app-lcl-l2chafile></app-lcl-l2chafile>
        </div>
      </div>
      <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">LCL_L4Cha</h2>
        <div class="accordion-single-content">
          <app-lcl-l4chafile></app-lcl-l4chafile>
        </div>
      </div>
      <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">LCL_L1</h2>
        <div class="accordion-single-content">
          <app-lcl-l1file></app-lcl-l1file>
        </div>
      </div>
      <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">LCL_L5</h2>
        <div class="accordion-single-content">
          <app-lcl-l5file></app-lcl-l5file>
        </div>
      </div>
      <!-- <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">LCL_L2-IHC</h2>
        <div class="accordion-single-content">
          <p>This is an Answer 3</p>
        </div>
      </div>
      <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">LCL_L4-IHC</h2>
        <div class="accordion-single-content">
          <p>This is an Answer 3</p>
        </div>
      </div>
      <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">LCL_SLAB</h2>
        <div class="accordion-single-content">
          <p>This is an Answer 3</p>
        </div>
      </div> -->

</div>