<table class="table">
    <thead>
      <tr>
        <th class="header-label">{{origin_key}}</th>
        <th class="header-label">{{destinationt_key}}</th>
        <th class="header-label">{{origin_portcode_key}}</th>
        <th class="header-label">{{destination_portcode_key}}</th>
        <th class="header-label">{{empty_container_pickup_key}}</th>
        <th class="header-label">{{origin_pincode_key}}</th>
        <th class="header-label">{{destination_pincode_key}}</th>
        <th class="header-label">{{origin_country_code_key}}</th>
        <th class="header-label">{{destination_country_code_key}}</th>
        <th class="header-label">{{origin_state_code_key}}</th>
        <th class="header-label">{{destination_state_code_key}}</th>
        <th class="header-label">{{impo_expo_key}}</th>
        <th class="header-label">{{service_type_key}}</th>
        <th class="header-label">{{transit_time_key}}</th>
        <th class="header-label">{{transport_mode_key}}</th>
        <th class="header-label">{{no_of_axle_key}}</th>
        <th class="header-label">{{distance_range_key}}</th>
        <th class="header-label">{{distance_unit_key}}</th>
        <th class="header-label">{{volume_range_key}}</th>
        <th class="header-label">{{volume_unit_key}}</th>
        <th class="header-label">{{weight_range_key}}</th>
        <th class="header-label">{{weight_unit_key}}</th>
        <th class="header-label">{{start_date_key}}</th>
        <th class="header-label">{{expiry_key}}</th>
        <th class="header-label">{{remarks_key}}</th>
        <th class="header-label">{{inclusions_key}}</th>
        <th class="header-label">{{load_type_key}}</th>
        <th class="header-label">{{charge1_name_key}}</th>
        <th class="header-label">{{charge1_min_key}}</th>
        <th class="header-label">{{charge1_basis_key}}</th>
        <th class="header-label">{{charge1_currency_key}}</th>
        <th class="header-label">{{charge2_name_key}}</th>
        <th class="header-label">{{charge2_min_key}}</th>
        <th class="header-label">{{charge2_basis_key}}</th>
        <th class="header-label">{{charge2_currency_key}}</th>
        <th class="header-label">{{charge3_name_key}}</th>
        <th class="header-label">{{charge3_min_key}}</th>
        <th class="header-label">{{charge3_basis_key}}</th>
        <th class="header-label">{{charge3_currency_key}}</th>
        <th class="header-label">{{charge4_name_key}}</th>
        <th class="header-label">{{charge4_min_key}}</th>
        <th class="header-label" style="min-width: 200px;">{{charge4_basis_key}}</th>
        <th class="header-label">{{charge4_currency_key}}</th>
        <th class="header-label">{{charge5_name_key}}</th>
        <th class="header-label">{{charge5_min_key}}</th>
        <th class="header-label">{{charge5_basis_key}}</th>
        <th class="header-label">{{charge5_currency_key}}</th>

      </tr>
    </thead>
    <tbody>
            <tr>
              <td class="input_field">
                  <div>
                      <input 
                          name="origin"
                          type="text" 
                          [value]="origin_value" 
                          (keyup)='updateNewValue($event, "origin_value")'
                      >
                  </div>
              </td>
              <td class="input_field">
                  <div>
                      <input 
                          name="destination"
                          type="text" 
                          [value]="destination_value" 
                          (keyup)="updateNewValue($event, 'destination_value')"
                      >
                  </div>
              </td>
              <td class="input_field">
                  <div>
                      <input
                          name="origin_portcode"
                          type="text" 
                          [value]="origin_portcode_value" 
                          (keyup)="updateNewValue($event, 'origin_portcode_value')"
                      >
                  </div>
              </td>
              <td class="input_field">
                <div>
                    <input
                        name="destination_portcode" 
                        type="text" 
                        [value]="origin_port_value" 
                        (keyup)="updateNewValue($event, 'origin_port_value')"
                    >
                </div>
            </td>
              <td class="input_field">
                  <div>
                      <input 
                          name="empty_container_pickup"
                          type="text" 
                          [value]="empty_container_pickup_value" 
                          (keyup)="updateNewValue($event, 'empty_container_pickup_value')"
                      >
                  </div>
              </td>
              <td class="input_field">
                  <div>
                      <input 
                          name="origin_pincode"
                          type="text" 
                          [value]="origin_pincode_value" 
                          (keyup)="updateNewValue($event, 'origin_pincode_value')"
                      >
                  </div>
              </td>
              <td class="input_field">
                  <input 
                      name="destination_pincode"
                      type="text" 
                      [value]="destination_pincode_value" 
                      (keyup)="updateNewValue($event, 'destination_pincode_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="origin_country_code"
                      type="text" 
                      [value]="origin_country_code_value" 
                      (keyup)="updateNewValue($event, 'origin_country_code_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="destination_country_code"   
                      type="text" 
                      [value]="destination_country_code_value" 
                      (keyup)="updateNewValue($event, 'destination_country_code_value')"
                  >
              </td>
              <td class="input_field">
                  <input
                      name="origin_state_code"  
                      type="text" 
                      [value]="origin_state_code_value" 
                      (keyup)="updateNewValue($event, 'origin_state_code_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="destination_state_code" 
                      type="text" 
                      [value]="destination_state_code_value" 
                      (keyup)="updateNewValue($event, 'destination_state_code_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="impo_expo" 
                      type="text" 
                      [value]="impo_expo_value" 
                      (keyup)="updateNewValue($event, 'impo_expo_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="service_type" 
                      type="text" 
                      [value]="service_type_value" 
                      (keyup)="updateNewValue($event, 'service_type_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="transit_time" 
                      type="text" 
                      [value]="transit_time_value" 
                      (keyup)="updateNewValue($event, 'transit_time_value')"
                  >
              </td>
              <td class="input_field">
                <select id="cargoType" [(value)]="transport_mode_value" (change)="updateNewValue($event, 'transport_mode_value')" style="width:100%">
                    <option value="" disabled selected>Select Type</option>
                    <option value="Road" selected>Road</option>
                    <option value="Rail">Rail</option>
                    <option value="Barge">Barge</option>
                    <option value="Others">Others</option>
                </select>
            </td>
              <td class="input_field">
                  <input 
                      name="no_of_axle" 
                      type="text" 
                      [value]="no_of_axle_value" 
                      (keyup)="updateNewValue($event, 'no_of_axle_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="distance_range" 
                      type="text" 
                      [value]="distance_range_value" 
                      (keyup)="updateNewValue($event, 'distance_range_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="distance_unit" 
                      type="text" 
                      [value]="distance_unit_value" 
                      (keyup)="updateNewValue($event, 'distance_unit_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="volume_range" 
                      type="text" 
                      [value]="volume_range_value" 
                      (keyup)="updateNewValue($event, 'volume_range_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="volume_unit" 
                      type="text" 
                      [value]="volume_unit_value" 
                      (keyup)="updateNewValue($event, 'volume_unit_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="weight_range" 
                      type="text" 
                      [value]="weight_range_value" 
                      (keyup)="updateNewValue($event, 'weight_range_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="weight_unit" 
                      type="text" 
                      [value]="weight_unit_value" 
                      (keyup)="updateNewValue($event, 'weight_unit_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="start_date" 
                      placeholder="DD-MM-YYYY"
                      type="text" 
                      [value]="start_date_value" 
                      (keyup)="updateNewValue($event, 'start_date_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="expiry" 
                      placeholder="DD-MM-YYYY"
                      type="text" 
                      [value]="expiry_value" 
                      (keyup)="updateNewValue($event, 'expiry_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="remarks"
                      type="text" 
                      [value]="remarks_value" 
                      (keyup)="updateNewValue($event, 'remarks_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="inclusion"
                      type="text" 
                      [value]="inclusions_value" 
                      (keyup)="updateNewValue($event, 'inclusions_value')"
                  >
              </td>
              <td class="input_field">
                <select
                    id="laodType" 
                    [(value)]="load_type_value"
                    (change)="updateNewValue($event, 'load_type_value')">
                        <option *ngFor="let load of loadTypes" 
                            [value]="load" 
                            [selected]="load === '20GP'">{{ load }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                  <input 
                      name="return_mt_to_terminal"
                      type="text" 
                      [value]="charge1_name_value" 
                      (keyup)="updateNewValue($event, 'charge1_l1_name_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="return_mt_to_terminal_min"
                      type="text" 
                      [value]="charge1_min_value" 
                      (keyup)="updateNewValue($event, 'charge1_l1_min_value')"
                  >
              </td>
              <td class="input_field">
                <select class="basis-field"
                    id="return_mt_to_terminal_basis" 
                    [(value)]="charge1_basis_value"
                    (change)="updateNewValue($event, 'charge1_l1_basis_value')">
                        <option *ngFor="let basis of defineBasis" 
                            [value]="basis" 
                            [selected]="basis === charge1_basis_value">{{ basis }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                <select class="currency-field"
                    id="return_mt_to_terminal_currency" 
                    [(value)]="charge1_currency_value"
                    (change)="updateNewValue($event, 'charge1_l1_currency_value')">
                        <option *ngFor="let code of currencyCodes" 
                            [value]="code" 
                            [selected]="code === charge1_currency_value">{{ code }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                  <input 
                      name="hazardous_goods_surcharge"
                      type="text" 
                      [value]="charge2_name_value" 
                      (keyup)="updateNewValue($event, 'charge2_l1_name_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="hazardous_goods_surcharge_min"
                      type="text" 
                      [value]="charge2_min_value" 
                      (keyup)="updateNewValue($event, 'charge2_l1_min_value')"
                  >
              </td>
              <td class="input_field">
                <select class="basis-field"
                    id="hazardous_goods_surcharge_basis" 
                    [(value)]="charge2_basis_value"
                    (change)="updateNewValue($event, 'charge2_l1_basis_value')">
                        <option *ngFor="let basis of defineBasis" 
                            [value]="basis" 
                            [selected]="basis === charge2_basis_value">{{ basis }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                <select class="currency-field"
                    id="hazardous_goods_surcharge_currency" 
                    [(value)]="charge2_currency_value"
                    (change)="updateNewValue($event, 'charge2_l1_currency_value')">
                        <option *ngFor="let code of currencyCodes" 
                            [value]="code" 
                            [selected]="code === charge2_currency_value">{{ code }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                  <input 
                      name="pickup_charge"
                      type="text" 
                      [value]="charge3_name_value" 
                      (keyup)="updateNewValue($event, 'charge3_l1_name_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="pickup_charge_min"
                      type="text" 
                      [value]="charge3_min_value" 
                      (keyup)="updateNewValue($event, 'charge3_l1_min_value')"
                  >
              </td>
              <td class="input_field">
                <select class="basis-field"
                    id="pickup_charge_basis" 
                    [(value)]="charge3_basis_value"
                    (change)="updateNewValue($event, 'charge3_l1_basis_value')">
                        <option *ngFor="let basis of defineBasis" 
                            [value]="basis" 
                            [selected]="basis === charge3_basis_value">{{ basis }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                <select class="currency-field"
                    id="pickup_charge_currency" 
                    [(value)]="charge3_currency_value"
                    (change)="updateNewValue($event, 'charge3_l1_currency_value')">
                        <option *ngFor="let code of currencyCodes" 
                            [value]="code" 
                            [selected]="code === charge3_currency_value">{{ code }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                  <input 
                      name="adc"
                      type="text" 
                      [value]="charge4_name_value" 
                      (keyup)="updateNewValue($event, 'charge4_l1_name_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="adc_min"
                      type="text" 
                      [value]="charge4_min_value" 
                      (keyup)="updateNewValue($event, 'charge4_l1_min_value')"
                  >
              </td>
              <td class="input_field">
                <select class="basis-field"
                    id="adc_basis" 
                    [(value)]="charge4_basis_value"
                    (change)="updateNewValue($event, 'charge4_l1_basis_value')">
                        <option *ngFor="let basis of defineBasis" 
                            [value]="basis" 
                            [selected]="basis === charge4_basis_value">{{ basis }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                <select class="currency-field"
                    id="adc_currency" 
                    [(value)]="charge4_currency_value"
                    (change)="updateNewValue($event, 'charge4_l1_currency_value')">
                        <option *ngFor="let code of currencyCodes" 
                            [value]="code" 
                            [selected]="code === charge4_currency_value">{{ code }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                  <input 
                      name="overweight_surcharge"
                      type="text" 
                      [value]="charge5_name_value" 
                      (keyup)="updateNewValue($event, 'charge5_l1_name_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="overweight_surcharge_min"
                      type="text" 
                      [value]="charge5_min_value" 
                      (keyup)="updateNewValue($event, 'charge5_l1_min_value')"
                  >
              </td>
              <td class="input_field">
                <select class="basis-field"
                    id="overweight_surcharge_basis" 
                    [(value)]="charge5_basis_value"
                    (change)="updateNewValue($event, 'charge5_l1_basis_value')">
                        <option *ngFor="let basis of defineBasis" 
                            [value]="basis" 
                            [selected]="basis === charge5_basis_value">{{ basis }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                <select class="currency-field"
                    id="overweight_surcharge_currency" 
                    [(value)]="charge5_currency_value"
                    (change)="updateNewValue($event, 'charge5_l1_currency_value')">
                        <option *ngFor="let code of currencyCodes" 
                            [value]="code" 
                            [selected]="code === charge5_currency_value">{{ code }}
                        </option>
                </select>
              </td>
            </tr>
    </tbody>
</table>
