<table class="table">
    <thead>
      <tr>
        <th class="header-label">{{origin_port_key}}</th>
        <th class="header-label">{{via_port_key}}</th>
        <th class="header-label">{{cfs_stuffing_key}}</th>
        <th class="header-label">{{other_charges_key}}</th>
        <th class="header-label">{{if_applicable_charges_key}}</th>
        <th class="header-label">{{start_date_key}}</th>
        <th class="header-label">{{expiry_key}}</th>
        <th class="header-label">{{remarks_key}}</th>
        <th class="header-label">{{inclusions_key}}</th>
        <th class="header-label">{{load_type_key}}</th>
        <th class="header-label">{{charge1_name_key}}</th>
        <th class="header-label">{{charge1_basis_key}}</th>
        <th class="header-label">{{charge1_currency_key}}</th>
        <th class="header-label">{{charge2_name_key}}</th>
        <th class="header-label">{{charge2_basis_key}}</th>
        <th class="header-label">{{charge2_currency_key}}</th>
        <th class="header-label">{{charge3_name_key}}</th>
        <th class="header-label">{{charge3_basis_key}}</th>
        <th class="header-label">{{charge3_currency_key}}</th>
        <th class="header-label">{{charge4_name_key}}</th>
        <th class="header-label">{{charge4_basis_key}}</th>
        <th class="header-label">{{charge4_currency_key}}</th>
        <th class="header-label">{{charge5_name_key}}</th>
        <th class="header-label">{{charge5_basis_key}}</th>
        <th class="header-label">{{charge5_currency_key}}</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="input_field">
            <div>
                <input 
                    name="origin_port"
                    type="text" 
                    [value]="origin_port_value" 
                    (keyup)="updateNewValue($event, 'origin_port_value')"
                >
            </div>
        </td>
        <td class="input_field">
            <div>
                <input 
                    name="via_port"
                    type="text" 
                    [value]="via_port_value" 
                    (keyup)="updateNewValue($event, 'via_port_value')"
                >
            </div>
        </td>
        <td class="input_field">
            <div>
                <input 
                    name="cfs_stuffing"
                    type="text" 
                    [value]="cfs_stuffing_value" 
                    (keyup)="updateNewValue($event, 'cfs_stuffing_value')"
                >
            </div>
        </td>
        <td class="input_field">
            <input
                name="other_charges"  
                type="text" 
                [value]="other_charges_value" 
                (keyup)="updateNewValue($event, 'other_charges_value')"
            >
        </td>
        <td class="input_field">
            <input 
                name="if_applicable_charges" 
                type="text" 
                [value]="if_applicable_charges_value" 
                (keyup)="updateNewValue($event, 'if_applicable_charges_value')"
            >
        </td>
        <td class="input_field">
            <input 
                name="start_date" 
                placeholder="DD-MM-YYYY"
                type="text" 
                [value]="start_date_value" 
                (keyup)="updateNewValue($event, 'start_date_value')"
            >
        </td>
        <td class="input_field">
            <input 
                name="expiry" 
                placeholder="DD-MM-YYYY"
                type="text" 
                [value]="expiry_value" 
                (keyup)="updateNewValue($event, 'expiry_value')"
            >
        </td>
        <td class="input_field">
            <input 
                name="remarks"
                type="text" 
                [value]="remarks_value" 
                (keyup)="updateNewValue($event, 'remarks_value')"
            >
        </td>
        <td class="input_field">
            <input 
                name="inclusion"
                type="text" 
                [value]="inclusions_value" 
                (keyup)="updateNewValue($event, 'inclusions_value')"
            >
        </td>
        <td class="input_field">
            <select
                id="laodType" 
                [(value)]="load_type_value"
                (change)="updateNewValue($event, 'load_type_value')">
                    <option *ngFor="let load of loadTypes" 
                        [value]="load" 
                        [selected]="load === '20GP'">{{ load }}
                    </option>
            </select>
        </td>
        <td class="input_field">
            <input 
                name="export_customs_formalities_per_container"
                type="text" 
                [value]="charge1_name_value" 
                (keyup)="updateNewValue($event, 'charge1_l2cha_name_value')"
            >
        </td>
        <td class="input_field">
            <select class="basis-field"
                id="export_customs_formalities_per_container_basis" 
                [(value)]="charge1_basis_value"
                (change)="updateNewValue($event, 'charge1_l2cha_basis_value')">
                    <option *ngFor="let basis of defineBasis" 
                        [value]="basis" 
                        [selected]="basis === 'per container'">{{ basis }}
                    </option>
            </select>
            <!-- <input style="text-transform: none;"
                name="export_customs_formalities_per_container_basis"
                type="text" 
                [value]="charge1_basis_value" 
                (keyup)="updateNewValue($event, 'charge1_l2cha_basis_value')"
            > -->
        </td>
        <td class="input_field">
            <select class="currency-field"
                id="export_customs_formalities_per_container_currency" 
                [(value)]="charge1_currency_value"
                (change)="updateNewValue($event, 'charge1_l2cha_currency_value')">
                    <option *ngFor="let code of currencyCodes" 
                        [value]="code" 
                        [selected]="code === 'INR'">{{ code }}
                    </option>
            </select>
            <!-- <input
                name="export_customs_formalities_per_container_currency"
                type="text" 
                [value]="charge1_currency_value" 
                (keyup)="updateNewValue($event, 'charge1_l2cha_currency_value')"
            > -->
        </td>
        <td class="input_field">
            <input 
                name="additional_customs_entry_fee"
                type="text" 
                [value]="charge2_name_value" 
                (keyup)="updateNewValue($event, 'charge2_l2cha_name_value')"
            >
        </td>
        <td class="input_field">
            <select class="basis-field"
                id="additional_customs_entry_fee_basis" 
                [(value)]="charge2_basis_value"
                (change)="updateNewValue($event, 'charge2_l2cha_basis_value')">
                    <option *ngFor="let basis of defineBasis" 
                        [value]="basis" 
                        [selected]="basis === 'per B/L'">{{ basis }}
                    </option>
            </select>
            <!-- <input style="text-transform: none;"
                name="additional_customs_entry_fee_basis"
                type="text" 
                [value]="charge2_basis_value" 
                (keyup)="updateNewValue($event, 'charge2_l2cha_basis_value')"
            > -->
        </td>
        <td class="input_field">
            <select class="currency-field"
                id="additional_customs_entry_fee_currency" 
                [(value)]="charge2_currency_value"
                (change)="updateNewValue($event, 'charge2_l2cha_currency_value')">
                    <option *ngFor="let code of currencyCodes" 
                        [value]="code" 
                        [selected]="code === 'INR'">{{ code }}
                    </option>
            </select>
            <!-- <input
                name="additional_customs_entry_fee_currency"
                type="text" 
                [value]="charge2_currency_value" 
                (keyup)="updateNewValue($event, 'charge2_l2cha_currency_value')"
            > -->
        </td>
        <td class="input_field">
            <input 
                name="customs_documentation_fee_at_origin"
                type="text" 
                [value]="charge3_name_value" 
                (keyup)="updateNewValue($event, 'charge3_l2cha_name_value')"
            >
        </td>
        <td class="input_field">
            <select class="basis-field"
                id="customs_documentation_fee_at_origin_basis" 
                [(value)]="charge3_basis_value"
                (change)="updateNewValue($event, 'charge3_l2cha_basis_value')">
                    <option *ngFor="let basis of defineBasis" 
                        [value]="basis" 
                        [selected]="basis === 'per shipping bill'">{{ basis }}
                    </option>
            </select>
            <!-- <input style="text-transform: none;"
                name="customs_documentation_fee_at_origin_basis"
                type="text" 
                [value]="charge3_basis_value" 
                (keyup)="updateNewValue($event, 'charge3_l2cha_basis_value')"
            > -->
        </td>
        <td class="input_field">
            <select class="currency-field"
                id="customs_documentation_fee_at_origin_currency" 
                [(value)]="charge3_currency_value"
                (change)="updateNewValue($event, 'charge3_l2cha_currency_value')">
                    <option *ngFor="let code of currencyCodes" 
                        [value]="code" 
                        [selected]="code === 'INR'">{{ code }}
                    </option>
            </select>
            <!-- <input
                name="customs_documentation_fee_at_origin_currency"
                type="text" 
                [value]="charge3_currency_value" 
                (keyup)="updateNewValue($event, 'charge3_l2cha_currency_value')"
            > -->
        </td>
        <td class="input_field">
            <input 
                name="export_customs_brokerage"
                type="text" 
                [value]="charge4_name_value" 
                (keyup)="updateNewValue($event, 'charge4_l2cha_name_value')"
            >
        </td>
        <td class="input_field">
            <select class="basis-field"
                id="export_customs_brokerage_basis" 
                [(value)]="charge4_basis_value"
                (change)="updateNewValue($event, 'charge4_l2cha_basis_value')">
                    <option *ngFor="let basis of defineBasis" 
                        [value]="basis" 
                        [selected]="basis === 'per equipment'">{{ basis }}
                    </option>
            </select>
            <!-- <input style="text-transform: none;"
                name="export_customs_brokerage_basis"
                type="text" 
                [value]="charge4_basis_value" 
                (keyup)="updateNewValue($event, 'charge4_l2cha_basis_value')"
            > -->
        </td>
        <td class="input_field">
            <select class="currency-field"
                id="export_customs_brokerage_currency" 
                [(value)]="charge4_currency_value"
                (change)="updateNewValue($event, 'charge4_l2cha_currency_value')">
                    <option *ngFor="let code of currencyCodes" 
                        [value]="code" 
                        [selected]="code === 'INR'">{{ code }}
                    </option>
            </select>
            <!-- <input
                name="export_customs_brokerage_currency"
                type="text" 
                [value]="charge4_currency_value" 
                (keyup)="updateNewValue($event, 'charge4_l2cha_currency_value')"
            > -->
        </td>
        <td class="input_field">
            <input 
                name="vgm_transmission"
                type="text" 
                [value]="charge5_name_value" 
                (keyup)="updateNewValue($event, 'charge5_l2cha_name_value')"
            >
        </td>
        <td class="input_field">
            <select class="basis-field"
                id="vgm_transmission_basis" 
                [(value)]="charge5_basis_value"
                (change)="updateNewValue($event, 'charge5_l2cha_basis_value')">
                    <option *ngFor="let basis of defineBasis" 
                        [value]="basis" 
                        [selected]="basis === 'per container'">{{ basis }}
                    </option>
            </select>
            <!-- <input style="text-transform: none;"
                name="vgm_transmission_basis"
                type="text" 
                [value]="charge5_basis_value" 
                (keyup)="updateNewValue($event, 'charge5_l2cha_basis_value')"
            > -->
        </td>
        <td class="input_field">
            <select class="currency-field"
                id="vgm_transmission_currency" 
                [(value)]="charge5_currency_value"
                (change)="updateNewValue($event, 'charge5_l2cha_currency_value')">
                    <option *ngFor="let code of currencyCodes" 
                        [value]="code" 
                        [selected]="code === 'INR'">{{ code }}
                    </option>
            </select>
            <!-- <input
                name="vgm_transmission_currency"
                type="text" 
                [value]="charge5_currency_value" 
                (keyup)="updateNewValue($event, 'charge5_l2cha_currency_value')"
            > -->
        </td>
      </tr>
    </tbody>
</table>
