<div class="top-bar">
  <input 
    type="checkbox" 
    id="L1" 
    [(ngModel)]="selectedLegs.options[0].value" 
    (ngModelChange)="saveCheckboxValues()"
    name="L1"
    value="L1" 
    class="checkbox"
  />
  <label class="label" for="L1">L1</label><br />
  <input 
    type="checkbox" 
    id="L2" 
    [(ngModel)]="selectedLegs.options[1].value" 
    (ngModelChange)="saveCheckboxValues()"
    name="L2"
    value="L2" 
    class="checkbox"
  />
  <label class="label" for="L2">L2</label><br />
  <input 
    type="checkbox" 
    id="L3" 
    type="checkbox" 
    value="L3" 
    class="checkbox" 
    [(ngModel)]="selectedLegs.options[2].value" 
    (ngModelChange)="saveCheckboxValues()"
    name="L3"
  />
  <label class="label" for="L3">L3</label><br />
  <input 
    type="checkbox" 
    id="L4" 
    [(ngModel)]="selectedLegs.options[3].value" 
    (ngModelChange)="saveCheckboxValues()"
    name="L4" 
    value="L4" 
    class="checkbox"
  />
  <label class="label" for="L4">L4</label><br />
  <input 
    type="checkbox" 
    id="L5" 
    [(ngModel)]="selectedLegs.options[4].value" 
    (ngModelChange)="saveCheckboxValues()"
    name="L5" 
    value="L5" 
    class="checkbox"
  />
  <label class="label" for="L5">L5</label><br />
  <input 
    type="checkbox" 
    id="L2Cha" 
    [(ngModel)]="selectedLegs.options[5].value" 
    (ngModelChange)="saveCheckboxValues()"
    name="L2Cha"
    value="L2Cha" 
    class="checkbox"
  />
  <label class="label" for="L2Cha">L2Cha</label><br />
  <input 
    type="checkbox" 
    id="L4Cha" 
    [(ngModel)]="selectedLegs.options[6].value" 
    (ngModelChange)="saveCheckboxValues()"
    name="L4Cha" 
    value="L4Cha" 
    class="checkbox"
  />
  <label class="label" for="L4Cha">L4Cha</label><br />
  <!-- <input 
  type="checkbox" 
  id="L2_IHC" 
  [(ngModel)]="selectedLegs.options[7].value" 
  (ngModelChange)="saveCheckboxValues()"
  name="L2_IHC" 
  value="L2_IHC" 
  class="checkbox"
/>
<label class="label" for="L4Cha">L2_IHC</label><br />
<input 
type="checkbox" 
id="L4_IHC" 
[(ngModel)]="selectedLegs.options[8].value" 
(ngModelChange)="saveCheckboxValues()"
name="L4_IHC" 
value="L4_IHC" 
class="checkbox"
/>
<label class="label" for="L4Cha">L4_IHC</label><br /> -->
<input 
type="checkbox" 
id="L3_SLAB" 
[(ngModel)]="selectedLegs.options[9].value" 
(ngModelChange)="saveCheckboxValues()"
name="L3_SLAB" 
value="L3_SLAB" 
class="checkbox"
/>
<label class="label" for="L4Cha">L3_SLAB</label><br />
<!-- <input 
type="checkbox" 
id="DND" 
[(ngModel)]="selectedLegs.options[10].value" 
(ngModelChange)="saveCheckboxValues()"
name="DND" 
value="DND" 
class="checkbox"
/>
<label class="label" for="L4Cha">DND</label><br /> -->
</div>
<div class="form-area">
    <app-accordion></app-accordion>
</div>
<div class="btn-container">
  <app-downlaodbtn></app-downlaodbtn>
</div>
