<!-- acc single -->
<div class="accordion-single js-acc-single">
    <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">Master File - FCL</h2>
        <div class="accordion-single-content">
          <app-masterfile></app-masterfile>
        </div>
      </div>
    <div class="accordion-single-item js-acc-item">
      <h2 class="accordion-single-title js-acc-single-trigger">FCL_L3</h2>
      <div class="accordion-single-content">
        <app-l3file ></app-l3file>
      </div>
    </div>
    <div class="accordion-single-item js-acc-item">
      <h2 class="accordion-single-title js-acc-single-trigger">FCL_L2</h2>
      <div class="accordion-single-content">
        <app-l2file></app-l2file>
      </div>
    </div>
    <div class="accordion-single-item js-acc-item">
      <h2 class="accordion-single-title js-acc-single-trigger">FCL_L4</h2>
      <div class="accordion-single-content">
        <app-l4file></app-l4file>
      </div>
    </div>
    <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">FCL_L2Cha</h2>
        <div class="accordion-single-content">
          <p>This is an Answer 3</p>
        </div>
      </div>
      <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">FCL_L4Cha</h2>
        <div class="accordion-single-content">
          <p>This is an Answer 3</p>
        </div>
      </div>
      <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">FCL_L1</h2>
        <div class="accordion-single-content">
          <p>This is an Answer 3</p>
        </div>
      </div>
      <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">FCL_L5</h2>
        <div class="accordion-single-content">
          <p>This is an Answer 3</p>
        </div>
      </div>
      <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">FCL_L2-IHC</h2>
        <div class="accordion-single-content">
          <p>This is an Answer 3</p>
        </div>
      </div>
      <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">FCL_L4-IHC</h2>
        <div class="accordion-single-content">
          <p>This is an Answer 3</p>
        </div>
      </div>
      <div class="accordion-single-item js-acc-item">
        <h2 class="accordion-single-title js-acc-single-trigger">FCL_SLAB</h2>
        <div class="accordion-single-content">
          <p>This is an Answer 3</p>
        </div>
      </div>

</div><!-- accordion-single -->

<!-- <button class="dwld-btn" (click)="downloaData()">Download File</button> -->
