<table class="table">
    <thead>
      <tr>
        <th class="header-label">{{origin_port_key}}</th>
        <th class="header-label">{{service_type_key}}</th>
        <th class="header-label">{{cargo_type_key}}</th>
        <th class="header-label">{{commodities_key}}</th>
        <th class="header-label">{{start_date_key}}</th>
        <th class="header-label">{{expiry_key}}</th>
        <th class="header-label">{{remarks_key}}</th>
        <th class="header-label">{{inclusions_key}}</th>
        <th class="header-label">{{charge1_name_key}}</th>
        <th class="header-label">{{charge1_min_key}}</th>
        <th class="header-label">{{charge1_basis_key}}</th>
        <th class="header-label">{{charge1_currency_key}}</th>
        <th class="header-label">{{charge2_name_key}}</th>
        <th class="header-label">{{charge2_min_key}}</th>
        <th class="header-label">{{charge2_basis_key}}</th>
        <th class="header-label">{{charge2_currency_key}}</th>
        <th class="header-label">{{charge3_name_key}}</th>
        <th class="header-label">{{charge3_min_key}}</th>
        <th class="header-label">{{charge3_basis_key}}</th>
        <th class="header-label">{{charge3_currency_key}}</th>
        <th class="header-label">{{charge4_name_key}}</th>
        <th class="header-label">{{charge4_min_key}}</th>
        <th class="header-label">{{charge4_basis_key}}</th>
        <th class="header-label">{{charge4_currency_key}}</th>
        <th class="header-label">{{charge5_name_key}}</th>
        <th class="header-label">{{charge5_min_key}}</th>
        <th class="header-label">{{charge5_basis_key}}</th>
        <th class="header-label">{{charge5_currency_key}}</th>
      </tr>
    </thead>
        <tbody>
            <tr>
              <td class="input_field">
                  <div>
                      <input 
                          name="origin_port"
                          type="text" 
                          [value]="origin_port_value" 
                          (keyup)="updateNewValue($event, 'origin_port_value')"
                      >
                  </div>
              </td>
              <td class="input_field">
                  <input 
                      name="service_type"
                      type="text" 
                      [value]="service_type_value" 
                      (keyup)="updateNewValue($event, 'service_type_value')"
                  >
              </td>
              <td class="input_field">
                  <div>
                    <select id="cargoType" [(value)]="cargo_type_value" (change)="updateNewValue($event, 'cargo_type_value')">
                        <option value="" disabled selected>Select Cargo Type</option>
                        <option value="FAK" selected>FAK</option>
                        <option value="PERISHABLE">Perishable</option>
                        <option value="NON_PERISHABLE">Non-Perishable</option>
                        <option value="HAZARDOUS">Hazardous</option>
                        <option value="CHILLED">Chilled</option>
                        <option value="OUT_OF_GAUGE">Out of Gauge</option>
                        <option value="FLEXI_BAGS">Flexi-Bags</option>
                    </select>
                  </div>
              </td>
              <td class="input_field">
                  <input 
                      name="commodities"   
                      type="text" 
                      [value]="commodities_value" 
                      (keyup)="updateNewValue($event, 'commodities_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="start_date" 
                      placeholder="DD-MM-YYYY"
                      type="text" 
                      [value]="start_date_value" 
                      (keyup)="updateNewValue($event, 'start_date_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="expiry" 
                      placeholder="DD-MM-YYYY"
                      type="text" 
                      [value]="expiry_value" 
                      (keyup)="updateNewValue($event, 'expiry_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="remarks"
                      type="text" 
                      [value]="remarks_value" 
                      (keyup)="updateNewValue($event, 'remarks_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="inclusion"
                      type="text" 
                      [value]="inclusions_value" 
                      (keyup)="updateNewValue($event, 'inclusions_value')"
                  >
              </td>
              <td class="input_field">
                  <input 
                      name="origin_terminal_handling_charges"
                      type="text" 
                      [value]="charge1_name_value" 
                      (keyup)="updateNewValue($event, 'charge1_l2_name_value')"
                  >
              </td>
              <td class="input_field">
                <input 
                    name="origin_terminal_handling_charges_min"
                    type="text" 
                    [value]="charge1_min_value" 
                    (keyup)="updateNewValue($event, 'charge1_l2_min_value')"
                >
            </td>
              <td class="input_field">
                <select class="basis-field"
                    id="origin_terminal_handling_charges_basis" 
                    [(value)]="charge1_basis_value"
                    (change)="updateNewValue($event, 'charge1_l2_basis_value')">
                        <option *ngFor="let basis of defineBasis" 
                            [value]="basis" 
                            [selected]="basis === 'gross_weight'">{{ basis }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                <select class="currency-field"
                    id="origin_terminal_handling_charges_currency" 
                    [(value)]="charge1_currency_value"
                    (change)="updateNewValue($event, 'charge1_l2_currency_value')">
                        <option *ngFor="let code of currencyCodes" 
                            [value]="code" 
                            [selected]="code === 'INR'">{{ code }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                  <input 
                      name="booking_fee"
                      type="text" 
                      [value]="charge2_name_value" 
                      (keyup)="updateNewValue($event, 'charge2_l2_name_value')"
                  >
              </td>
              <td class="input_field">
                <input 
                    name="booking_fee_min"
                    type="text" 
                    [value]="charge2_min_value" 
                    (keyup)="updateNewValue($event, 'charge2_l2_min_value')"
                >
            </td>
              <td class="input_field">
                <select class="basis-field"
                    id="booking_fee_basis" 
                    [(value)]="charge2_basis_value"
                    (change)="updateNewValue($event, 'charge2_l2_basis_value')">
                        <option *ngFor="let basis of defineBasis" 
                            [value]="basis" 
                            [selected]="basis === 'per_shipment'">{{ basis }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                <select class="currency-field"
                    id="booking_fee_currency" 
                    [(value)]="charge2_currency_value"
                    (change)="updateNewValue($event, 'charge2_l2_currency_value')">
                        <option *ngFor="let code of currencyCodes" 
                            [value]="code" 
                            [selected]="code === 'INR'">{{ code }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                  <input 
                      name="export_handling"
                      type="text" 
                      [value]="charge3_name_value" 
                      (keyup)="updateNewValue($event, 'charge3_l2_name_value')"
                  >
              </td>
              <td class="input_field">
                <input 
                    name="export_handling_min"
                    type="text" 
                    [value]="charge3_min_value" 
                    (keyup)="updateNewValue($event, 'charge3_l2_min_value')"
                >
            </td>
              <td class="input_field">
                <select class="basis-field"
                    id="export_handling_basis" 
                    [(value)]="charge3_basis_value"
                    (change)="updateNewValue($event, 'charge3_l2_basis_value')">
                        <option *ngFor="let basis of defineBasis" 
                            [value]="basis" 
                            [selected]="basis === 'per_bl'">{{ basis }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                <select class="currency-field"
                    id="export_handling_currency" 
                    [(value)]="charge3_currency_value"
                    (change)="updateNewValue($event, 'charge3_l2_currency_value')">
                        <option *ngFor="let code of currencyCodes" 
                            [value]="code" 
                            [selected]="code === 'INR'">{{ code }}
                        </option>
                </select>
              </td>
              <td class="input_field">
                <input 
                    name="documentation_fee"
                    type="text" 
                    [value]="charge4_name_value" 
                    (keyup)="updateNewValue($event, 'charge4_l2_name_value')"
                >
            </td>
            <td class="input_field">
              <input 
                  name="documentation_fee_min"
                  type="text" 
                  [value]="charge4_min_value" 
                  (keyup)="updateNewValue($event, 'charge4_l2_min_value')"
              >
          </td>
            <td class="input_field">
              <select class="basis-field"
                  id="documentation_fee_basis" 
                  [(value)]="charge4_basis_value"
                  (change)="updateNewValue($event, 'charge4_l2_basis_value')">
                      <option *ngFor="let basis of defineBasis" 
                          [value]="basis" 
                          [selected]="basis === 'per shipping bill'">{{ basis }}
                      </option>
              </select>
            </td>
            <td class="input_field">
              <select class="currency-field"
                  id="documentation_fee_currency" 
                  [(value)]="charge4_currency_value"
                  (change)="updateNewValue($event, 'charge4_l2_currency_value')">
                      <option *ngFor="let code of currencyCodes" 
                          [value]="code" 
                          [selected]="code === 'INR'">{{ code }}
                      </option>
              </select>
            </td>
            <td class="input_field">
                <input 
                    name="security_fee"
                    type="text" 
                    [value]="charge5_name_value" 
                    (keyup)="updateNewValue($event, 'charge5_l2_name_value')"
                >
            </td>
            <td class="input_field">
              <input 
                  name="security_fee_min"
                  type="text" 
                  [value]="charge5_min_value" 
                  (keyup)="updateNewValue($event, 'charge5_l2_min_value')"
              >
          </td>
            <td class="input_field">
              <select class="basis-field"
                  id="security_fee_basis" 
                  [(value)]="charge5_basis_value"
                  (change)="updateNewValue($event, 'charge5_l2_basis_value')">
                      <option *ngFor="let basis of defineBasis" 
                          [value]="basis" 
                          [selected]="basis === 'per_carton'">{{ basis }}
                      </option>
              </select>
            </td>
            <td class="input_field">
              <select class="currency-field"
                  id="security_fee_currency" 
                  [(value)]="charge5_currency_value"
                  (change)="updateNewValue($event, 'charge5_l2_currency_value')">
                      <option *ngFor="let code of currencyCodes" 
                          [value]="code" 
                          [selected]="code === 'INR'">{{ code }}
                      </option>
              </select>
            </td>
        </tr>
    </tbody>
    <!-- </ng-container> -->
</table>
